<!--
예제 4-20 : 폼 클래스를 템플릿에서 사용하기

개발자가 템플릿(.html)에 직접 작성해야 하는 것
1. form 태그
2. submit 버튼
3. csrf_token 태그
4. {{ form }} 템플릿 변수
   : 뷰에서 컨텍스트 변수에 포함하여 템플릿 시스템으로 전달
   : 뷰 함수 or 클래스와 그 안의 form 변수가 있어야 함
5.table 태그, ul 태그 등등
-->

<form action="/your-name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<!--
<p><label for="id_subject">Subject</label>
    <input id="id_subject" type="text" name="subject" maxlength="100" /></p>
<p><label for="id_message">Message</label>
    <input type="text" name="subject" id="id_message" /></p>
<p><label for="id_sender">Sender</label>
    <input type="email" name="sender" id="id_sender" /></p>
<p><label for="id_cc_myself">Cc myself</label>
    <input type="checkbox" name="cc_myself" id="id_cc_myself" /></p>
-->